.About {
    color: white;
    margin: 0px 30px;
    p {
        font-size: x-large;
        font-style: italic;
    }
}


@media (max-width: 767px) {
    .About {
        margin: 20px 10px 0px 10px;
    }    
}
