.Programs {
    margin: 50px 100px 0px 100px;
}

.column {
    background-color: gray;
    padding: 20px 0px;
    margin: auto;
    border-radius: 5px;
    height: 70vh;
    margin: 30px 30px 0px 30px;
    hr {
        border-top: 2px solid #222222;
        width: auto;
        margin: 10px 20px;
    }
    box-shadow: 10px 10px 2px #222222;
}

.InnerPic {
    width: 100%;
    height: auto;
}

h5 {
    padding: 0px 23px;
}

.OuterPic {
    text-align: center;
}

@media (max-width: 767px) {
    .Programs {
        margin: 0px 10px 0px 10px;
    }    

    .column {
        height: auto;
    }
}
