.Programs {
    margin: 50px 100px 0px 100px;
}

.column {
    background-color: gray;
    padding: 20px 0px;
    margin: auto;
    border-radius: 15px;
    height: 70vh;
    margin: 30px 30px 0px 30px;
}

.pic {
    border-radius: 15px;
}

.InnerPic {
    // border-radius: 30px;
    width: 487px;
    height: auto;
}

h5 {
    padding: 0px 23px;
}

hr {
    border-top: 2px solid #222222;
    width: 420px;
}

.OuterPic {
    text-align: center;
}

