/* CSS Variables are placed below */
:root {
    /*   Example variable definition   */
    /* Definition: --bg-color: white;  */
    /* Usage: var(--bg-color);         */
    --primary-color:#D30025;
    --background-color:#F0F0F0;
    --container-height:300px;
    --container-offset:-280px;
}

/* Size Independent Styling */
body {
    background-color:var(--primary-color);
}


#homePageCarousel {
    width:100%;
    height:400px;
    margin: 0 auto;
}

.home-page-content-container h1 {
    padding:5px 5%;
    font-size:4em;
    font-family:Verdana,serif;
    font-style:italic;
    color:var(--background-color);
}

.bkg-white {
    background-color:var(--background-color)
}

.quantity {
    color:var(--primary-color);
    font-weight:700;
}

.card-body {
    height:170px;
}

/* Custom Classes - Additional Implementations to Bootstrap */
@media (min-width:1366px) {
    .d-1366-block {
        display:block!important;
    }

    .d-1366-none {
        display:none!important;
    }
}

@media (min-width:1366px) {
    .d-1366-block {
        display:block!important;
    }

    .d-1366-none {
        display:none!important;
    }
}

@media (min-width:1920px) {
    .d-1920-block {
        display: block!important;
    }

    .d-1920-none {
        display: none!important;
    }
}
/* Specific Styles */
.nav-item {
    float:left;
    width:20%;
    text-align:center;
}

#homePageImgBackground {
    padding:25px 0;
    background-image: url("../img/msoe-img-wide.jpg");
    background-attachment:fixed;
    background-size:cover;
    height:350px;
}

#transparentFocusContainer {
    width:50%;
    height:var(--container-height);
    margin:0 auto;
    padding:2% 5%;
    background-color:var(--background-color);
    opacity:0.6;
    border-radius:35px;
}

#transparentFocusText {
    display:block;
    position:relative;
    margin:var(--container-offset) auto 0 auto;
    width:40%;
}

#transparentFocusText p {
    margin-top: 10px;
    font-weight:600;
}