html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.App {
  height: inherit;
  text-align: center;
  *:focus {
    outline: none;
  }
}

.container-div { 
  Display: flex;
  Height: 100vh;
  Width: 100vw; 
  Align-Items: center;
  Justify-Content: center;
}

@import "~bootstrap/scss/bootstrap";